/*
font-family: 'Open Sans', sans-serif; (fw: 400)
font-family: 'Raleway', sans-serif; (fw: 400/700)
font-family: 'Work Sans', sans-serif; (fw: 400)
color: #444;
*/


/*INICIO STYLES INDEX*/
#body-index{
    background: url('../img/home.jpg') no-repeat;
    background-size: 80%;
    background-position: right;
}

.nav-list-item{
    list-style: none;
    margin-bottom: 10px;
}

.nav-link{
    text-decoration: none;
    color: #444;
    font-family: 'Work Sans', sans-serif;
}

.icon-social-media{
    color: black;
    font-size: 19px;
    margin-left: 5px;
}

.main-title{
    font-family: 'Raleway', sans-serif;
    background: rgba(255, 255, 255, 0.3);
    font-size: 48.5px;
}

.name-title{
    font-family: 'Open Sans', sans-serif;
    color: #444;
    letter-spacing: 3.5px;
}

.main-header-index{
    margin-bottom: 150px;
}

.main-index{
    margin-bottom: 160px;
}
/*FIN STYLES INDEX*/



/*INICIO STYLES ABOUT*/

.main-header-about{
    text-align: right;
}

#nav-list-about{
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.body-about{
    background: url('../img/about.jpg') no-repeat;
    background-size: 77%;
    background-position: right;
}

.name-title-about{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin-top: 70px;
}

.text-declaration, .declaration-person{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Raleway';
    color: #52b788;
}

.text-declaration{
    font-size: 20px;
    font-weight: 500;
}

.declaration-person{
    margin-bottom: 35px;
}

/*FIN STYLES ABOUT*/



/*INICIO STYLES ABOUT*/
.header-main-music{
    text-align: right;
}

.body-music{
    background: url('../img/music-top.jpg') no-repeat;
    background-position: top;
    background-size: contain;
}

.list-nav{
    margin-right: 30px;
    margin-top: 0px;
}

#social-media-nav-list{
    margin-right: 20px;
}

.title-music, .title-contact, .subtitle-contact{
    font-family: 'Raleway', sans-serif;
}

.main-title-music{
    font-size: 65px;
    margin-top: 120px;
}

.direct-links-container, .song-item-list, .attribution-container, .info{
    font-family: 'Open Sans', sans-serif;
}

.list-direct-links{
    font-weight: bold;
    list-style: none;
    margin-bottom: 100px;
}

.direct-link{
    text-decoration: none;
    color: #444;
    opacity: 0.6;
}

.play-list-img{
    width: 60%;
}

.song-item-list{
    font-size: 15px;
    margin-bottom: 20px;
}

.fa-play{
    margin-right: 3px;
    margin-left: 5px;
}

.go-top-link{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    opacity: 0.9;
    font-size: 15px;
}

.album-container, .organic-love{
    margin-bottom: 100px;
}

.attribution-container{
    font-size: 14px;
    margin-bottom: 25px;
}

/*FIN STYLES ABOUT*/



/*INICIO STYLES CONTACT*/
.header-main-contact{
    text-align: right;
    background: none;
}

.title-info{
    color: #52b788;
    font-weight: 400;
}


.list-contact{
    list-style: none;
}

.info{
    margin-bottom: 0;
    margin-top: 0;
}

.email-number{
    color: #444;
    opacity: 0.8;
}

.contact-info-main-title{
    margin-top: 80px;
}

.list-item-contact-info{
    margin-bottom: 55px;
}

.main-contact-title{
    font-size: 60px;
}
/*FIN STYLES CONTACT*/